<!doctype html>
<html lang="en">
  <head>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"  crossorigin="anonymous" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    
    <link rel="shortcut icon" href="image/laptop.png" type="image/png">
    <link rel="stylesheet" href="css/style.css">

    <title>Static Application</title>
  </head>
  <style>
      body
      {
          min-height: 100vh;
          display: flex;
          flex-direction: column;
        
      }
      .background
      {
        background:linear-gradient(to right,rgb(64, 64, 218) ,rgb(47, 47, 136));
      }
   .flowericon
   {
       color: rgb(255, 255, 255);
       font-size: 30px;
       animation: flower;
       animation-duration:2s;
       animation-timing-function: linear; 
       animation-iteration-count: infinite;
   }
   @keyframes flower {
        from{
            transform: rotateZ(0deg);
        }
        to
        {
            transform: rotateZ(360deg);
        }
   }
   .expresstext
   {
       font-size: 30px;
       font-weight: bold;
       color:white;
   }
   .weathertext
   {
       color:rgb(124, 41, 3);
       font-family: 'lobster',cursive;
   }
   .linkcontent
   {
       color:white;
   }
   .footer
   {
       background-color: rgb(7, 7, 94);
       height: 3rem;
       text-align: center;
       width: 100%;
       margin-top: auto;
       
   }
   .navbar
   {
       margin:0px;
       
   }
   .footer p
   {
       background-color: rgb(7, 7, 94);
       line-height:3rem;
       text-align: center;
       color: white;
       
       
   }
  
  </style>
  <body>