
      {{>header}}
      {{>navbar}}
<!-- ----------------------------------------------------- -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <!-- ----------------------------------------------------- -->

            <div class="row">
                <div class="col-md-6 LeftMiddlebox">
                    <!-- ----------------------------------------------------- -->
                    <br><br>
                      <figure>
                        <img src="../image/sunrain.png" alt="" class="img-fluid w-75">
                      </figure>
                    <!-- ----------------------------------------------------- -->    
                </div>



                <div class="col-md-6 RightMiddlebox my-5">
                    <!-- ----------------------------------------------------- -->
                    
                    <br><br><br><br><br>
                    <p>Welcome to Express Application</p>
                    <h4>Know latest <span class="weathertext">Weather</span> information of Your City</h4>
                     <a href="/weather"><button class="btn btn-secondary w-25 btn-sm">Click Me</button></a>
                   
                    <!-- ----------------------------------------------------- -->  
                </div>
            </div>



            <!-- ----------------------------------------------------- -->
            
        </div>
    </div>
</div>

{{>footer}}
